body {
	background-color: #f2f2f2;
}

#header {
	position: relative;
}

#header img {
	position: absolute;
}

#nav {
	width: 960px;
	height: 40px;
	position: absolute;
	margin-top: 205px;
	margin-left: 170px;

}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 40px;
    background: linear-gradient(#fff,#e8e8e8);

}

#nav li {
    float: right;
    margin-left: 45px;
    margin-top:10px;
}
#nav li a {
	dir='rtl'
	lang='ar'
	color:#484848;
}



div.section1 {
	width:960px;
	height:365px;
	background-color: white;
	position: absolute;
	margin-left: 170px;
	margin-top:255px;
	box-shadow: 0 12px 20px -2px gray;
}

img.image {
	width: 945px;
	height: 350px;
	margin-left: 7px;
	margin-top: 7px;
}

div.section2 {
	width:960px;
	height:365px;
	box-shadow: 3px 3px 5px #b3b3b3;
	position: absolute;
	margin-top: 640px;
	margin-left: 170px;

}

div.sextion2text {
	width: 180px;
	height: 295px;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 35px;
}


 h2 {
	color: #dd6375;
	margin-bottom: 20px;
	float: right;
}


div.sextion2text p {
	float: right;
	word-break: keep-all ;
	color: #2a2a2a;
	text-align: right;

}

a.more {
	float: left;
	color: #2a2a2a;
	margin-top: 10px;
}


div.section3 {
	height: 280px;
	width:960px;
	margin-top: 1020px;
	position: absolute;
	margin-left: 170px;

}

div.imagecontainer {
	width: 400px ;
	height:250px;
	margin-top: 30px;
	margin-left: 30px;
	border-right:1px solid grey; 

}

a.gallery  {
	width: 60px;
	height: 45px;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;

}

a.gallery img {
	width: 60px;
	height: 45px;

	border: 3px solid white;
}

div.gallerycontainer {
	width: 300px;
	height: 120px;
	float: right;
	margin-right: 70px;
}


div.footer {

	width:960px;
	height:45px;
	box-shadow: 3px 3px 5px #b3b3b3;
	background-color: #afafaf;
	position: absolute;
	margin-top: 10px;
	margin-left: 0px;
}



div.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 40px;
    width: 500px;
    float: right;
    margin-top: 5px;

}

div.footer li {
    float: right;
    margin-top:10px;
    border-left: 1px solid white ;
    margin-left: 5px;

}
div.footer li a {
	dir='rtl'
	lang='ar'
	color: white;
	text-decoration: none;
}
div.footer li a:visited {
	
	color: white;
}


div.footer h3 {
	float: left;
	margin-left: 20px;
	color:white;
	margin-top: 15px;
}
input[type=text] {
	border-radius: 5px;
}



#scripter {

	position: absolute;
	float: right;
	margin-top: 275px;
	text-align: right;
	width: 655px;
	height: 630px;
	background-color: white;
	margin-left: 475px;

}



div.side {

	height: 180px;
	width: 250px;
	border: 2px solid white ;
	position: absolute;
	margin-left: 170px;
	margin-top: 285px;
	background-color: #f2f2f2 ;
	text-align: right;
	padding-right: 20px;
	padding-left: 20px;
	padding: 20px;
}


div.side a {
	width: 65px;
	height: 30px;
	background-color: #f5d3e1;
	float: left ; 
	text-align: center;
	color: black;
	font-size: 20px;
}

